.support {
  background: url(../img/para-3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding-top: 120px;
  padding-bottom: 120px;
}

.support::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(
    left,
    rgba(46, 46, 46, 0.6) 10%,
    rgba(45, 45, 45, 0.3) 100%
  );
}

.support .col {
  z-index: 10;
}

.support__form {
  display: flex;
}

.support__form--icon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

.support__form--info {
  padding-left: 70px;
  position: relative;
}

.support__form--heading {
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--white);
  font-size: 20px;
  margin-bottom: 10px;
}

.support__form--desc {
  color: var(--white);
  overflow-wrap: break-word;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 20px;
  font-weight: 500;
}

.support__form--link {
  color: var(--black-5);
  font-size: 12px;
  background: var(--white);
  padding: 10px 20px;
  border-radius: 35px;
  letter-spacing: 2px;
}
