:root {
  --black: #000;
  --black1: #262626;
  --black2: #3a3a3a;
  --black3: #313131;
  --black4: #525252;
  --black5: #555;
  --blue1: #17bac0;
  --blue2: #14b9d7;
  --green1: #82b440;
  --green2: #7aa93c;
  --green3: #1bbc9b;
  --grey1: #7e7e7e;
  --orange1: #f3a46b;
  --pink1: #ba71da;
  --white: #fff;
}
